<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mueblería - Hecho en Perú</title>
		<link rel="icon" href="/images/Logo.png" type="image/png" />
		<link rel="stylesheet" href="/styles/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
			rel="stylesheet" />
	</head>
	<body>
		<header class="header">
			<nav class="header__nav">
				<div class="header__logo--container--index">
					<a class="header__logo" href="index.html"><img src="/images/Logo.png" alt="" /></a>
				</div>
				<div class="header__nav--container">
					<div class="header__text--container">
						<h1>Hecho en Perú</h1>
					</div>
				</div>
				<div class="header__button--container">
					<div class="button__login">
						<a href="/views/login.html">Inicia sesión</a>
					</div>
					<div class="button__login">
						<a href="/views/login.html">Registrate</a>
					</div>
				</div>
			</nav>
		</header>
		<main class="producto__main">
			<div class="artesanias__titulo--container">
				<h2>Mueblería</h2>
				<p>Descubre el encanto y la artesanía de los muebles peruanos</p>
			</div>
			<div class="artesanias__container">
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-1.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Banco Tejido Rústico</p>
						<p class="compras__precio">S/1062.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-2.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Puff Petate</p>
						<p class="compras__precio">S/2300.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-3.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Lampara Tamshi</p>
						<p class="compras__precio">S/480.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-4.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Lampara Vimana</p>
						<p class="compras__precio">S/1500.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-1.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Banco Tejido Rústico</p>
						<p class="compras__precio">S/1062.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-2.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Puff Petate</p>
						<p class="compras__precio">S/2300.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-3.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Lampara Tamshi</p>
						<p class="compras__precio">S/480.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-4.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Lampara Vimana</p>
						<p class="compras__precio">S/1500.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-1.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Banco Tejido Rústico</p>
						<p class="compras__precio">S/1062.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-2.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Puff Petate</p>
						<p class="compras__precio">S/2300.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-3.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Lampara Tamshi</p>
						<p class="compras__precio">S/480.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-4.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Lampara Vimana</p>
						<p class="compras__precio">S/1500.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-1.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Banco Tejido Rústico</p>
						<p class="compras__precio">S/1062.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-2.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Puff Petate</p>
						<p class="compras__precio">S/2300.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-3.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Lampara Tamshi</p>
						<p class="compras__precio">S/480.00</p>
					</div>
				</div>
				<div class="producto__container">
					<figure class="producto__imagen--container">
						<img class="producto__imagen" src="/images/producto-muebleria-4.png" alt="" />
					</figure>
					<div class="producto__texto--container">
						<p class="compras__producto">Lampara Vimana</p>
						<p class="compras__precio">S/1500.00</p>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
