body {
	background: linear-gradient(45deg, #feeeb694, #e6b3b165, #feeeb694);
	margin: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

div,
header,
nav,
ul,
li,
a {
	box-sizing: border-box;
}

/*--------------------------------------HEADER--------------------------------------------*/

.header__link {
	color: #111;
	padding: 8px 10px;
	border-radius: 10px;
	transition: all 0.7s ease;
}

.header__link:hover {
	background-color: #dac064;
	transform: scale(0.8);
	transform-origin: center;
}

.header__item {
	transition: all 0.7s ease;
}

.header__item:hover {
	transform: scale(0.8);
	transform-origin: center;
}

.header__logo {
	transition: all 0.7s ease;
}

.header__logo:hover {
	background-color: transparent;
	transform: scale(0.8);
	transform-origin: center;
}

.pre__header {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
	height: 8vh;
}

.pre__header--links ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.pre__header--links li {
	margin: 0 30px;
}

.pre__header--links a {
	text-decoration: none;
}

.logout__button {
	cursor: pointer;
	transition: all 0.7s ease;
}

.logout__button:hover {
	transform: scale(0.9);
	transform-origin: center;
}

.header {
	position: sticky;
	top: 0;
	z-index: 100;
	box-shadow: 0 0 10px 0 #444;
}

.header__nav {
	background-color: #f7f2e0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
}

.header__nav--container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	flex-grow: 10;
}

.header__list--container ul {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__list li {
	margin: 0 50px;
	padding: 0;
	display: inline-block;
}

.nav__list a {
	text-decoration: none;
}

.header__logo--container {
	flex-grow: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo--container--index {
	flex-grow: 6;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo--container img {
	width: 4.3rem;
	box-sizing: border-box;
	margin: 0;
}

.header__logo--container--index img {
	width: 4.3rem;
	box-sizing: border-box;
	margin: 0;
}

.header__button--container {
	flex-grow: 2;
	justify-content: space-evenly;
	display: flex;
}

.button__login {
	background-color: #dac064;
	padding: 13px 20px;
	border-radius: 10px;
	transition: all 0.5s ease;
	cursor: pointer;
}

.button__login:hover {
	background-color: #dac06492;
	transform: scale(0.9);
}

.button__login a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.header__button--container img {
	width: 2.5rem;
	border-radius: 5px;
}

.header__nav--container h1 {
	font-family: "Playfair Display", serif;
	font-size: 2.2rem;
	margin: 10px 0;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #333;
}

.container-icon {
	position: relative;
	cursor: pointer;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 40rem;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;

	font-size: 14px;
}

.row-product {
	max-height: 21.5rem;

	overflow-y: scroll;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
	align-items: center;
	text-align: center;
}

.precio-producto-carrito {
	font-weight: 700;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	gap: 20px;
}

.cart-total h3 {
	font-weight: 700;
}

.total-pagar {
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

.hidden {
	display: none;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

/*--------------------------------------Main--------------------------------------------*/
/*--------------------------------------Tienda--------------------------------------------*/

h2 {
	font-family: "Playfair Display", serif;
	font-size: 2rem;
}

#Tienda {
	margin: 0;
	height: 80vh;
	scroll-margin-top: 20vh;
}

.tienda__titulo--container {
	text-align: center;
}

.tienda__titulo--container p {
	margin-bottom: 3rem;
	font-size: 1.4rem;
}

.tienda__cards--container {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-content: center;
}

.tienda__cards--container img {
	width: 17rem;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #444;
}

.tienda__card {
	display: flex;
	justify-content: center;
	text-align: center;
}

.tienda__card a {
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 1.3rem;
	color: #111;
	transition: all 0.4s ease;
	z-index: 10;
}

.tienda__card a:hover {
	transform: scale3d(1.2, 1.2, 1.2);
}

/*--------------------------------------Nosotros--------------------------------------------*/

#Nosotros {
	margin: 0;
	height: 80vh;
	scroll-margin-top: 20vh;
}

.nosotros__titulo--container {
	text-align: center;
}

.nosotros__container {
	display: grid;
	grid-template-columns: 50% 45%;
}

.nosotros__images--container {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.nosotros__images--container div {
	margin: 0 10px;
}

.nosotros__images--container img {
	width: 15rem;
	height: 20rem;
	transition: all 0.4s ease;
	border-radius: 10px;
	transform: skew(-10deg, 10deg);
	box-shadow: 0 0 10px 0 #444;
}

.nosotros__images--container img:hover {
	transform: skew(10deg, 10deg);
}

.nosotros__text--container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-wrap: pretty;
	font-size: 25px;
	padding: 20px;
}

/*--------------------------------------Contacto--------------------------------------------*/

#Contacto {
	scroll-margin-top: 20vh;
	height: 80vh;
	margin: 0;
}

.contacto__titulo--container {
	text-align: center;
}

.contacto__titulo--container p {
	font-size: 1.4rem;
}

.contacto__boxes--container {
	display: grid;
	grid-template-columns: 50% 50%;
}

.info {
	display: grid;
	grid-template-columns: 20% 50%;
	align-items: center;
	justify-content: center;
}

.info__icon--container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contacto__info--container img {
	width: 3.5rem;
	transition: all 0.4s ease;
}

.contacto__info--container img:hover {
	transform: translateY(-20px);
}

.contacto__images--container {
	width: 35rem;
	border-radius: 10px;
	transition: all 1s ease;
}

.contacto__images--container img {
	width: 35rem;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #444;
}

.contacto__images--container:hover {
	transform: skew(-10deg, -10deg) scale(1.15);
}

/*--------------------------------------Footer--------------------------------------------*/

footer {
	background-color: #a23530;
	margin: 0;
	height: 6vh;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f7f2e0;
}

footer p {
	margin: 0;
}

/*--------------------------------------LOGIN--------------------------------------------*/

.login__main {
	height: 80vh;
	display: flex;
	justify-content: center;
	background-image: url(../images/fondo-login.jpg);
	background-size: cover;
}

.login--container {
	background-color: #dddddd73;
	box-shadow: 0 0 5px 0 #333;
	border-radius: 20px;
	width: 25rem;
	height: 25rem;
	margin-top: 3rem;
	text-align: center;
}

.login__formulario {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.login__formulario input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 15px;
	margin: 10px 0;
	border-color: transparent;
	border-radius: 10px;
	background-color: #ddd;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	box-shadow: 0 0 5px 0 #333;
	font-size: 16px;
	transition: transform 0.3s ease;
}

.login__formulario input:focus {
	outline: transparent;
	transform: scale(1.04);
}

.login__formulario button {
	box-sizing: border-box;
	border-radius: 10px;
	border-color: transparent;
	background-color: #a23530;
	color: #ddd;
	margin: 10px 0;
	width: 100%;
	padding: 10px;
	cursor: pointer;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	box-shadow: 0 0 5px 0 #333;
	font-size: 16px;
	transition: transform 0.3s ease;
}
.login__formulario button:hover {
	transform: scale(0.98);
}

.login__formulario a {
	text-decoration: none;
	color: #a23530;
	transition: all 0.3s ease;
}

.login__formulario a:hover {
	color: #a2363084;
}

/*--------------------------------------SIGNUP--------------------------------------------*/

.signup--container {
	background-color: #dddddd73;
	box-shadow: 0 0 5px 0 #333;
	border-radius: 20px;
	width: 25rem;
	height: 28rem;
	margin-top: 2rem;
	text-align: center;
}

.signup__titulo--container p {
	font-size: 15px;
}

.signup__formulario {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 20px;
}

.signup__formulario input {
	box-sizing: border-box;
	width: 100%;
	padding: 7px 10px;
	margin: 6px 0;
	border-color: transparent;
	border-radius: 10px;
	background-color: #ddd;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	box-shadow: 0 0 5px 0 #333;
	font-size: 16px;
	transition: transform 0.3s ease;
}

.signup__formulario input:focus {
	outline: transparent;
	transform: scale(1.04);
}

.signup__formulario button {
	box-sizing: border-box;
	border-radius: 10px;
	border-color: transparent;
	background-color: #a23530;
	color: #ddd;
	margin: 10px 0;
	width: 100%;
	padding: 7px;
	cursor: pointer;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	box-shadow: 0 0 5px 0 #333;
	font-size: 16px;
	transition: transform 0.3s ease;
}
.signup__formulario button:hover {
	transform: scale(0.98);
}

.signup__formulario a {
	text-decoration: none;
	color: #a23530;
	transition: all 0.3s ease;
}

.signup__formulario p {
	margin-bottom: 0;
}

.signup__formulario a:hover {
	color: #a2363084;
}

.ventana__modal--container {
	background: radial-gradient(#e7dfc0, #ddd);
	width: 25em;
	padding: 40px;
	text-align: center;
	border-radius: 20px;
	text-wrap: pretty;
	position: fixed;
	inset: 0;
	margin: auto;
	border: none;
	animation: show-modal 0.7s 0.5s both;
}

.ventana__modal--container[open]::backdrop {
	animation: show-backdrop 0.5s forwards;
}

.ventana__modal--container[close] {
	animation: close-modal 0.7s both;
}

.ventana__modal--container[close]::backdrop {
	animation: close-backdrop 0.5s forwards;
}

@keyframes show-modal {
	0% {
		transform: translateY(60%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes close-modal {
	100% {
		transform: translateY(60%);
		opacity: 0;
	}
}

@keyframes show-backdrop {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY((0%));
	}
}

@keyframes close-backdrop {
	100% {
		transform: translateY(100%);
	}
}

.ventana__modal--container::backdrop {
	background-color: #333333aa;
}

.titulo__modal--signup {
	font-size: 37px;
}

.text__modal--signup {
	font-size: 21px;
	margin-bottom: 2rem;
}

.ventana__modal--container button {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	width: 30%;
	margin: auto;
	border: none;
	border-radius: 10px;
	padding: 15px 30px;
	cursor: pointer;
}

/*--------------------------------------PRODUCTOS--------------------------------------------*/

.producto__main {
	min-height: 80vh;
	margin: 0;
}

.artesanias__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	overflow: hidden;
}

.artesanias__titulo--container {
	text-align: center;
	margin: 0;
}

.artesanias__titulo--container h2 {
	margin: 0;
	padding: 10px;
}

.producto__container {
	border-bottom: 1px solid #444;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin: 0 0.8rem;
	justify-content: center;
}

.producto__imagen--container {
	transition: all 0.5s ease;
}

.producto__imagen--container:hover {
	transform: scale(1.1);
}

.producto__imagen {
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 0 0 10px 0 #333;
}

.producto__imagen--container button {
	position: fixed;
	margin: 10px;
	cursor: pointer;
	padding: 0;
	border: transparent;
	background-color: transparent;
}

.producto__texto--container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.producto__texto--container p {
	margin: 5px;
}

.producto__green {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background-color: #444;
	cursor: pointer;
	border: none;
	width: 100%;
	height: 30px;
	font-size: 14px;
	border-radius: 10px;
	text-align: center;
	align-content: center;
	color: #eee;
	box-shadow: 0 0 5px 0 #333;
	margin-top: 10px;
}
